main {
    padding: 1.5rem 2.5rem;
    color: var(--primary-color);
}

main h1 {
    color: var(--primary-color);
    font-weight: 650;
    font-size: 1.2rem;
}

main > div {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

main > div #principal-ref {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main > div #principal-ref ul, #snack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main > div #principal-ref ul li, #snack li {
    margin-left: 2rem;
}

main > div #principal-ref ul div, #snack div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

main > div #principal-ref ul div img, #snack img  {
    width: 3rem;
}

main > div #principal-ref ul div p, #snack p  {
    font-size: 1.2rem;
    font-weight: 550;
}

#snack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}