@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

:root {
    --primary-color: #185230;
    --secondary-color: #fff;
    --tertiary-color: #fab22c;
    --quaternary-color: #0f0f0f;
    --quinary-color: #e70000;
}

body.default-theme {
    --primary-color: #185230;
    --secondary-color: #fff;
}

body.alternate-theme {
    --primary-color: #fff;
    --secondary-color: #185230;
}

body {
    position: relative;
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: 450;
}

header a > img {
    width: 6rem;
    transition: 0.5s;
}

#navigation {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
}

#navigation li {
    transition: 0.5s;
}

ul li a {
    color: var(--primary-color);
}

header div {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

header #additional-informations {
    display: flex;
    align-items: center;
}

header #additional-informations div {
    display: flex;
    flex-direction: column;
}

header #additional-informations img {
    width: 1.6rem;
    transition: 0.5s;
}

#sign-ul, #language-ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0px 0px 5px 5px;
    box-shadow: -3px 42px 70px -4px rgba(161,161,161,1);
    position: absolute;
    top: 85px;
    right: 20px;
    z-index: 9999;
}

#language-ul {
    position: absolute;
    top: 85px;
    right: 110px;
}

#language-ul li {
    transition: 0.5s;
}

#sign-ul a li {
    transition: 0.5s;
}

header #additional-informations div ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #185230;
    font-size: 0.8rem;
}

header #additional-informations div ul li img {
    width: 1rem;
}

header div img:hover, #navigation li:hover, header a > img:hover, #language-ul li:hover, #sign-ul a li:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

footer {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0rem;
    border-top: 1px solid #185230;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--primary-color);
}

footer img {
    width: 5rem;
}

footer p {
    font-size: 0.9rem;
    font-weight: 450;
}

#add-recept {
    background-color: var(--tertiary-color);
    border: none;
    padding: 0.8rem;
    border-radius: 2rem;
    position: fixed;
    bottom: 20px;
    right: 50px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-recept:hover {
    transform: scale(1.08);
    cursor: pointer;
    transition: 0.6s;
}

#add-recept img {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
}

#modal-add-recept {
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
}

#modal-add-recept > div {
    background-color: var(--primary-color);
    padding: 1.7rem 2rem 2rem 2rem;
    width: 50%;
    height: 55%;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    font-size: 0.9rem;
}

#modal-add-recept > div #first-child-modal-add:first-child {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#modal-add-recept > div div:first-child img {
    width: 1rem;
    transition: 0.8s;
    cursor: pointer;
}

#modal-add-recept > div #input-recept {
    gap: 1.5rem;
    width: 60%;
}

#modal-add-recept > div #input-recept p {
    font-weight: 550;
    text-align: center;
    margin-bottom: 1.2rem;
}

#modal-add-recept > div #input-recept input {
    width: 100%;
    padding: 0.5rem 1rem;
}

#modal-add-recept > div button {
    background-color: var(--tertiary-color);
    border: none;
    color: var(--secondary-color);
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    font-weight: 600;
    transition: 0.8s;
    cursor: pointer;
}

#modal-add-recept > div div:first-child img:hover, #modal-add-recept > div button:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

.third-modal-infos {
    display: flex;
    gap: 2rem;
    margin: 1rem 0rem;
    width: 100%;
}

.third-modal-infos div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.third-modal-infos div p {
    font-size: 0.6rem;
    margin: 0;
}

.third-modal-infos div input {
    width: 50%;
}