main {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.itens {
    position: relative;
    transition: 0.8s;
    cursor: pointer;
}

.itens img {
    width: 100%;
}

.itens .info-itens {
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 1rem 1.2rem;
    font-size: 0.8rem;
}

.itens .info-itens p:first-child {
    font-weight: 600;
    color: var(--quaternary-color);
}
    
.itens:hover {
    transform: scale(1.05);
    transition: 0.8s;
}