main {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main h1 {
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-color);
}

main h1 span {
    font-weight: 600;
}

main > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.itens {
    position: relative;
    transition: 0.8s;
    cursor: pointer;
    height: 70%;
}

.itens img {
    width: 100%;
    height: 100%;
}

.itens .info-itens {
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 1rem 1.2rem;
    font-size: 0.8rem;
}

.itens .info-itens p:first-child {
    font-weight: 600;
}

.itens .info-itens div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.itens .info-itens div img {
    width: 1.5rem;
}

.itens:hover {
    transform: scale(1.05);
    transition: 0.8s;
}