main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-top: 2.8rem;
}

main img {
    width: 15rem;
}

main p {
    color: var(--primary-color);
    font-weight: 450;
    font-size: 1.2rem;
}

main p span {
    color: var(--tertiary-color);
    font-weight: 550;
}

main div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

main div input {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    height: 3.2rem;
    width: 40rem;
    padding-left: 1rem;
}

main div input::placeholder {
    color: var(--primary-color);
    opacity: 0.8;
}

main div a img {
    background-color: var(--tertiary-color);
    position: absolute;
    border-radius: 1rem;
    top: 10px;
    right: 35px;
    height: 2rem;
    width: 2rem;
    padding: 6px;
}