main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-top: 2rem;
}

main img {
    width: 12rem;
}

main p {
    color: var(--primary-color);
    font-weight: 450;
}

main p span {
    color: var(--tertiary-color);
    font-weight: 550;
}

main div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
}

main div input {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    height: 2.8rem;
    width: 50%;
}

main div input::placeholder {
    padding-left: 1rem;
    color: var(--primary-color);
    font-size: 0.7rem;
    opacity: 0.8;
}

main div a img {
    background-color: var(--tertiary-color);
    position: absolute;
    border-radius: 0.9rem;
    top: 8px;
    right: 295px;
    height: 1.8rem;
    width: 1.8rem;
    padding: 5px;
}