@import './home-page.css';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

:root {
    --primary-color: #185230;
    --secondary-color: #fff;
    --tertiary-color: #fab22c;
    --quaternary-color: #0f0f0f;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 0.75rem;
    color: var(--primary-color);
    font-weight: 450;
}

header a > img {
    width: 5rem;
    transition: 0.5s;
}

ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
}

ul li {
    transition: 0.5s;
}

header div {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

header div img {
    width: 1.6rem;
    transition: 0.5s;
}

header div img:hover, ul li:hover, header a > img:hover {
    transform: scale(1.08);
    transition: 0.5s;
    cursor: pointer;
}

